*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.menu{
    background-color:#032A35;
    display: flex;
    justify-content:space-around;
    align-items: center;
    height:80px;
    width: 100%;
}

.menu ul{
    padding: 0px;
    margin-bottom: 0px;
    margin-top: -5px;
}
.menu ul li{
    display: inline-block;
    margin: 30px;
    font-weight: bold;
}

.menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 20PX;
}

.busqueda{
    position: absolute;
    display: contents;
    padding: 5px;
}


.busqueda input{
    width: 200px;
    font-size: 14px;
    outline: none;
    border: 2px solid silver;
    border-radius: 5px;
}

#botonmenu{
    display: none;
    padding: 0;
}
i{
    color: white;
    font-size: 30px;
}

.menu label{
    display: flex;
    width: 30px;
    height: 30px;
    padding: 0px;
    margin-top: 12px;
}


.contenedor-principal{
    display: flex;
    flex-flow:row;
    justify-content: space-between;
    align-items:flex-start;
    background: #f1eef3;
    max-width: 1200px;
    margin: 20px auto;
}

.hijo{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.hijo2{
    margin: 15px;
    border: 2px solid black;
    width: 600px;
    padding: 15px;
    background: white;
    text-align: center;
}
.hijo2 p{
    text-align: justify;
}

.lo-mas-leido{
    display: flex;
    flex-flow: column;
    justify-content:center;
    align-items: center;
    background: #D74E09;
    width: 30%;
    padding: 20px;
    margin: 50px;
    text-align: center;
}

h2{
    margin-bottom: 20px;
    color: white;
    font-size: 25px;
}
h3{
    font-size: 20px;
    color: #032A35;
    margin-bottom: 20px;
}
.hijo3 img{
    margin: 15px;
}
.hijo3 p{
    text-align: justify;
    margin-bottom: 20px;
}
.boton{
    background: #424C55 ;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    font-size: 12px;
}
.boton-enviar{
    background: #424C55 ;
    color: white;
    padding:25px 40px;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px;
}
.suscribete{
    font-size: 15px;
    background: #424C55;
    color: white;
    padding: 10px;
    margin-top: 150px;
    text-align: center;
}
.formulario{
    background:  #C5C3C6;
    padding: 15px;
    margin-top: 25px;
    margin-bottom: 30px;
}
.formulario input{
    margin: 10px;
    width: 80%;
    padding: 5px;
}